<div *ngIf="lineChartData" class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <thead>
        <tr>
          <th>Time</th>
          <th>Temp</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let d of lineChartData[0].data; let i = index">
          <td>{{lineChartLabels[i]}}</td>
          <td>{{d}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<div class="row">
<div class="col-sm-12">
	<button class="btn btn-primary" (click)="pumpOn()">Pump On</button>
	<button class="btn btn-primary" (click)="pumpOff()">Pump Off</button>
	</div>
</div>